@using myAgency.Models;

@model User
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Connexion</h2>
<div class="container center">
    @using (Html.BeginForm("Login", "Home", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal" }))
    {
        @Html.LabelFor(m=>m.username)
        @Html.TextBoxFor(m => m.username, new { @class = "form-control" })

        @Html.LabelFor(m=>m.password)
        @Html.PasswordFor(m => m.password, new { @class = "form-control" })
        <br />
        <a href="@Url.Action("Index", "Home")" class="btn btn-default">Annuler</a>
        <input type="submit" class="btn btn-primary" value="Connexion" />
    }

</div>

